/* 
----------
Grid 
----------
*/

body {
    color: black;
}

.split {
    width: 48.5%;
    height: 100%;
    position: fixed;
    margin: 1rem;
}

.right {
    right: 0;
    overflow: scroll;
    /* border: 1px solid red; */
}

.left {
    left: 0;
    text-transform: uppercase;
    text-decoration: none;
    /* border: 1px solid blue; */
}

.logo {
    font-size: 130px;
}


/* 
-----------
Left Side 
------------
*/

.my-nav {
    margin: 10rem 0 10rem 0;
}


/* 
----------------
Right Side 
-----------------
*/


/* Hero Carousel */

.hero {
    margin-top: 1rem;
}

.my-carousel,
.my-carousel-item {
    height: 80vh;
}

.my-carousel-item {
    background-size: cover;
}


/* intro  & Menu */

.section {
    margin-top: 1rem;
    border: 0.5px solid black;
}

.menuHeading {
    text-transform: uppercase;
    margin: 0 0 2rem 0.5rem;
}

.sectionHeading {
    text-transform: uppercase;
    padding: 2rem 0;
}